$def with (title, search, topics)
$var title:$title
<form method='post' action='/bb/search/results'>
$:search.render()
</form>

<br />
<a href="/bb/topic/new">[ new thread ]</a>
<table id='main'>
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Replies</th>
			<th scope="col">Last Post</th>
		</tr>
	</thead>
	<tbody>
$for topic in topics:
		<tr>
			<td class='tc1'><a href="/bb/topic/$topic.id-$topic.slug">$topic.title</a></td>
			<td class='tc2'>$topic.replies</td>
			<td class='tc3'><a href='/bb/topic/$topic.id-$topic.slug#$topic.last_post'>by $topic.last_poster @ (unixtime:$topic.date)</a></td>
		</tr>
	</tbody>
</table>
