$def with (formSearch, topics)
<!doctype html>
<html lang='en'>
<head>
  <title>index : [host.domain] forums</title>
  <link rel='stylesheet' href='/static/style.css' />
</head>
<body>

<p>title</p>

<form method='post'>
$:formSearch.render()
</form>

<p>!paginator!</p>

<!-- <form method='post'>
<input type='text' style='background-color: #000; border: 1px dotted #fff; outline: 0;' />
<input type='submit' style='background-color: #000; border: 1px dotted #fff; outline: 0; color: #fff;'  value='Search' />
</form>
!-->

<br />

<table id='main'>
	<tbody>
	$for topic in topics:
		<tr>
			<td>$topic.title</td>
		</tr>


	</tbody>
</table>
</body>
</html>
