$def with (title, formSearch, posts, tid, slug)
$var title:$title
<form method='post'>
$:formSearch.render()
</form>

<br />
<a href='#bottom'>[bottom]</a>
<table id='main'>
	<tbody>
	$for post in posts:
		<tr>
			<td class='user'>[uid: $post.uid],,[avatar]</td>
			<td class='post'>$:mark(post.body)</td>
		</tr>
		<tr>
			<td class='created' colspan='2'><a href='#$post.id' id='$post.id'>permalink</a></td>
		</tr>

	</tbody>

		<tr>
		        <td colspan='2'><form method='POST' action='/bb/reply/$tid-$slug'>
				<textarea id='reply' name='reply'></textarea>
				<button id='btnReply' name='replySubmit'>Reply</button>
			</form></td>
		</tr>
</table>
<a href='#top' id='bottom'>[top]</a>
